<h1>Books#show</h1>
<p>Find me in app/views/books/show.html.erb</p>
<h2><%= @book.title%></h2>
<p><%= @book.author%></p>
<p><%= @book.title%></p>
<p><%= @book.description%></p>
<p><<%= @book.url%>/p>
<%= link_to "Home", books_path%>