<div class="form-container">
<%=form_with(model: user, local: true,  ) do |form| %>
  <div class="form-row col-6">
    <% if user.errors.any? then%>
        <div class="alert alert-danger col-12">
            <h2><%= pluralize(user.errors.count, "error(s)") %> prohibited this user from being saved:</h2>
            <ul>
            <% user.errors.full_messages.each do |message| %>
                <li><%= message %></li>
             <% end %>
            </ul>
        </div>
    <%end%>
    <div class="form-group col-12">
        <%= form.label :email, :class=>'form-control ' %>
        <%= form.text_field :email, :class=>'form-control '%>
    </div>
    <div class="form-group col-12">
        <%= form.label :name, :class=>'form-control '%>
        <%= form.text_field :name, :class=>'form-control '%>
    </div>
     <div class="form-group col-12">
        <%= form.label :usertype, :class=>'form-control '%>
        <%= form.text_field :usertype, :class=>'form-control '%>
    </div>
    <div class="form-group  col-12">
        <%= form.label :password, :class=>'form-control'%>
        <%= form.password_field :password, :class=>'form-control'%>
    </div>
     <div class="form-group  col-12">
        <%= form.label :password_confirmation, :class=>'form-control'%>
        <%= form.password_field :password_confirmation, :class=>'form-control'%>
    </div>
    <div class="form-group col-12">
        <%= form.submit  %>
    </div>
</div>
<%end%>
</div>